<ion-view ng-controller="myCtrl">
    <div class="bar bar-header bar-positive">
        <h1 class="title">Home</h1>
    </div>
    <ion-content class="has-header">
        <h1>Home Page</h1>
        <button class="button" ng-click="takePicture()">
            Take Picture
        </button>
        <button class="button" ng-click="takePictureLib()">
            Open Gallery
        </button>
        <img ng-show="picture !== undefined" ng-src="{{picture}}">
        <img ng-show="picture === undefined" ng-src="http://placehold.it/300x300">
    </ion-content>
    <div class="bar bar-footer bar-positive">
        <div class="buttons">
            <button class="button" ng-click= "goBack()">Go Back</button>
        </div>
        <h1 class="title">Footer</h1>
        <div class="buttons">
            <button class="button" ng-click="goProfile()">Right Button</button>
        </div>
    </div>
</ion-view>