<ion-view ng-controller="myCtrl">
    <ion-content>
        <h1>Home Page</h1>
        <button class="button" ng-click="takePicture()">
            Take Picture
        </button>
        <button class="button" ng-click="getPicture()">
            Open Gallery
        </button>
        <img ng-src="{{user.picture}}">
    </ion-content>
    <div class="bar bar-footer bar-positive">
        <div class="buttons">
            <button class="button" ng-click= "goBack()">Go Back</button>
        </div>
        <h1 class="title">Footer</h1>
        <div class="buttons">
            <button class="button" ng-click="goProfile()">Right Button</button>
        </div>
    </div>
</ion-view>